# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/ 
/out/

# production
/build

# unlighthouse
.unlighthouse

# misc
.DS_Store
*.pem
*.log
*.tmp
thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# CSV files (sensitive keys/data)
*.csv

# local editor files
*.swp
*.swo
*~
.vscode/
.idea/
.fleet/
.history/
.nx/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
